<silentsettings>
	<variables>
		<var name="ProgramGroup" value="%AppName%"/>
		<var name="AppFolder" value="%ProgramsMenu%\%ProgramGroup%"/>
		<var name="InstallPath" value="C:\Program Files (x86)\Statement Tracer for Oracle"/>
		<var name="DisableAddRemove" value="1"/>
		<var name="UninstallPath" value="%InstallPath%"/>
		<var name="LangID" value="ENU"/>
	</variables>
</silentsettings>
